.form {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #D3D3D3;
  height: 4em;
}

.input {
  border: none;
  border-radius: 0;
  padding: 10px;
  font-size: 1.2em;
  width: 100%;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.fileInput input[type="file"] {
  display: none;
}

.fa-paperclip {
  margin-right: 3px;
}

.fileInput {
  color: #fff !important;
  display: flex;
  align-items: center;
  background: #2979FF;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  max-width: 9em;
  padding: 0 14px;
  font-size: 13.3px;
  margin-right: 3px;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  display: inline-block;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 7em;
  max-width: 200px;
  min-width: 4em;
}

@media (max-width: 1200px) {
}

@media (max-width: 800px) {
  .sendButton {
    padding: 0;
    width: 4em;
  }
  .input {
    padding-right: 0;
    width: 80%;
    font-size: 1em;
  }
}