.joinOuterContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  background-color: #3A506B;
  overflow: hidden;
}

.heading {
  margin-top: 0;
  color: white;
  font-size: 2rem;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}