.container {
  display: grid;
  height: 100%;
  margin: auto;
  grid-template-rows: 5em auto;
  background-color: #1C2541;
}

.content {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  overflow-y: hidden;
}

.banner {
  text-align: center;
}

.header {
  text-decoration: none;
  color: white;
}

.chatbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 100%;
  right: 0;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .content {
    grid-template-columns: 40% 60%;
  }
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: none;
    grid-template-rows: 30% 70%;
  }
  .chatbox {
    border-top: 5px solid;
  }
  .banner {
    padding: 0;
  }
  .banner h1 {
    font-size: 1.5em;
  }
}