.joinOuterContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  background-color: #3A506B;
  overflow: hidden;
}

.activeRoomsContainer {
  border-radius: 5px;
  padding: 20px;
  color: white;
  align-self: flex-start;
  overflow-y: auto;
}

.roomList {
  text-align: left;
}

.roomList li {
  padding: 5px;
}

.heading {
  margin-top: 0;
  color: white;
  font-size: 2rem;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

@media (max-width: 1200px) {
  .activeRoomsContainer {
    margin-top: 5%;
    height: 95%;
    width: 100%;
  }
}